body {
    color: #44586e;
    font-family: 'Copse', serif;
}


/* img {
    width: 250px;
} */

.journal {
    width: 35px;
}

.action {
    width: 35px;
}

hr {
    margin: 2% 20%;
    border-color: #44586e;
}

.perso_policeTitre {
    font-family: 'Fredoka One', cursive;
}

.perso_shadow {
    box-shadow: 0px 2px 15px black;
}

.perso_logoSize {
    width: 100px;
}

.perso_ColorRoseMenu {
    color: #FF00FF !important;
    text-shadow: 1px 1px black;
}

.perso_ColorOrangeMenu {
    color: rgb(247, 179, 91) !important;
    text-shadow: 1px 1px black;
}

.perso_ColorVertMenu {
    color: #34C924 !important;
    text-shadow: 1px 1px black;
}

.perso_ColorRougeMenu {
    color: rgb(230, 78, 78) !important;
    text-shadow: 1px 1px black;
}

.perso_ColorBleuCielMenu {
    color: #40E0D0 !important;
    text-shadow: 1px 1px black;
}

.perso_ColorAdminMenu {
    color: rgba(131, 13, 13) !important;
}

.perso_size20 {
    font-size: 20px;
}

.perso_size20 {
    font-size: 20px;
}

.perso_size26 {
    font-size: 26px;
}

.perso_size12 {
    font-size: 12px;
}

.perso_minCorpSize {
    min-height: 500px;
}

.perso_bgGreen {
    background-color: rgba(175, 233, 175, 0.827) !important;
}

.perso_bgRose {
    background-color: rgba(213, 184, 255, 1) !important;
}

.perso_textShadow {
    text-shadow: 1px 1px 1px black;
}

i {
    color: white;
    margin-left: 10px;
}